<h1>Dragon ball Z</h1>
<hr>
<div class="row">
    <div class="col">
       <app-personajes [listaPersonajes]="listaPersonajes"></app-personajes>
    </div>
    <div class="col">
        <h3>Agregar personajes</h3>
        <hr>
        <!-- [value]="personajenuevo.nombre"
            (input)="Funcionevento ($event)" -->
        <form (ngSubmit)="agregarPersonaje()" >
            <input name="nombre" [(ngModel)]="personajenuevo.nombre" type="text" placeholder="nombre">            
            <input name="poder" [(ngModel)]="personajenuevo.poder" type="number" placeholder="cantidad de poder">
            <button type="submit">Agregar</button>
        </form>
        
    </div>
</div>
